/* Coolors Exported Palette - coolors.co/f1615d-ffb400-00a6ed-7fb800-0d2c54 */

/* HSL */
$color1: hsla(2%, 84%, 65%, 1);
$color2: hsla(42%, 100%, 50%, 1);
$color3: hsla(198%, 100%, 46%, 1);
$color4: hsla(79%, 100%, 36%, 1);
$color5: hsla(214%, 73%, 19%, 1);

/* RGB */
// $red: rgba(241, 97, 93, 1);
// $yellow: #F3CE08;
// $blue: rgba(0, 166, 237, 1);
// $green: rgba(127, 184, 0, 1);
// $darkblue: rgba(13, 44, 84, 1);$color1: rgba(0, 0, 0, 1);
$black: rgba(0, 0, 0, 1);
$color2: rgba(93, 115, 126, 1);
$color3: rgba(255, 240, 124, 1);
$color4: rgba(240, 247, 238, 1);
$color5: rgba(135, 187, 162, 1);
$green: #689D46;