.fridge-list-chalkboard > h4 {
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  margin: 5%;
}


.fridge-list > li {
  color: white;
  font-family: 'Josefin Slab', serif;
  list-style: circle;
  font-size: 20px;
  margin-left: 12%;
  line-height: 24px;

}

.fridge-list-chalkboard {
  background: url(../../images/blackboard.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 150px;
  height: fit-content;
  border: 5px solid rgba(0,74,3);
  margin: 0 auto;
  width: 250px; 
}

.fridge-list-chalkboard h4 {
  color: white;
  font-family: 'Josefin Slab', serif;
  text-align: center;
}


.fridge-container {
  padding: 0 5%;
}

.fridge-instructions {
  width: 250px;
  margin: 5px auto;
  background: rgba(80, 211, 122, 0.42);
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
  margin-bottom: 20px;
  padding: 5px;
  margin-top: 48px;
}

.fridge-instructions p{
  font-size: 15px;
  font-family: 'Josefin Slab', serif;
  line-height: 18px;
  font-weight: 700;
}

.keyboard-inputs input, select {
  background: rgba(80, 211, 122, 0.42);
 
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.option-dropdowns select, option {
   background: rgba(80, 211, 122, 0.42);
 
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}


.as-form label {
  color: green;
}