.ingredient-item {
  display: flex; 
  align-content: space-between;
  max-width: 600px;
  background: rgba(80, 211, 122, 0.42);
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
  margin-bottom: 20px;
}

.ingredient-chart {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
}

#ingredient-nutrition-button {
  color: rgba(0,74,3);
  background: white;
  border: 1px solid rgba(0,74,3);
}

.ingredient-quantity {
  text-align: center;
  font-size: 12px;
}

.ingredient-string {
  text-align: center;
  font-size: 18px;
}