.main-container {
  width: 100vw;
  height: 100vh;
  min-width: 1165px;
  min-height: 735px;
  background: url(../../images/cutting-board.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-outer-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: calc( 100% - 80px);
  min-height: 600px;
  min-width: 1165px;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-inner-container1 {
  width: 25%;
}

.main-inner-container2 {
  width: 50%;
  height: fit-content;
  max-width: 639px;
  margin: 0 auto;

  padding: 26px 20px;

  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  border-radius: 5px;
  /* padding: 25px; */
  margin: 0 30px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
 

}

.main-inner-container3 {
  margin-top: 15px;
  width: 25%;
  /* border: 1px solid gray; */
}

#modal-button {
  border: none;
}



.main-inner-container2-headings {
  display: flex;
  padding: 20px;
  padding-top: 0px;
}

.main-inner-container2-headings h1 {
  color: rgba(0,74,3);
  margin: auto;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.main-inner-container2-headings #selected {
  border-bottom: 5px solid rgba(0,74,3);
}




.fridge-instructions-2 ul {
  padding: 20px;
}
.main-inner-container2-content > h1 {
  width: 80%;
  margin: auto;
  text-align: center;
  color: rgba(0,74,3);
  
}
.main-inner-container2-headings h1:hover {
  /* color: #008000; */
  transform: scale(1.1); 
}
#selected:hover{
  color:  rgba(0,74,3);
  cursor: default;
  transform: none;
}

.fridge-instructions-2 {
    height: 240px;
    width: 50%;
    background: rgba(0,74,3, 0.7);
    border-radius: 10px 0 0 10px;

    padding: 5px;
    font-size: 20px;
}

.fridge-instructions-2 ul li {
  
  font-size: 1.15em;
  color: white;
  font-family: 'Josefin Slab', serif;
  line-height: 1.25;
  padding: 2px;
}

.loading-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}