.ingredient-input {
  border: none;
  padding: 0.5rem;
  width: 300px;
  margin: 0;
  border-radius: 5px;

}
.ingredinet-search-container{
  border: 1px solid #999;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}



.no-suggestions {
  color: #999;
  padding: 0.5rem;
  border-top: 1px solid #999;
}

.suggestions {
  border: none;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 250px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 4px;
  height: 16px;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #57A8A3;
  color: #F3CE08;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.suggestions li:first-of-type {
  border-top: 1px solid #999;
}