.modal {
  width: 500px;
  /* height: 300px; */
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -18em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  background: white;
  z-index: 50;
}

.modal__header {
  padding: 1rem; 
  background: rgba(255, 240, 124, 1);
  color: white;
}

.modal__header {
  margin: 0; 
  font-size: 1.25rem;
}

.modal__header h1 {
  color: gray;
}

.modal__content {
  padding: 1rem;
  padding-bottom: 0rem;
}

.modal__actions {
  display: flex; 
  justify-content: flex-end;
  padding: 0.25rem;
}

.modal__actions .btn {
  background: none;
  font-size: 16px;
  margin-right: 0px;
  height: 16px;
  width: 16px;
  margin: 0px;
  color: rgba(93, 115, 126, 1);
}



.modal__content form input {
    border-radius: 5px;
    /* border: 3px solid; */
    padding: 10px;
    border: 3px solid rgba(255, 240, 124, 1);
    border-radius: 5px;
    background: lightgray;
    margin: auto;
    margin-bottom: 10px;
    height: 20px; 
}

.modal__content form {
  display: flex;
  flex-direction: column;
}

.modal__content button {
  margin: auto;
  color: #f3ce08;
  border: 1px solid rgba(110, 110, 110, 0.829);
}

.modal__content button:hover {
  border: 1px solid #f3ce08;
}

