.saved-recipe-li {
  display: flex;
  height: 90%;
  padding: 5%;
  border-bottom: 3px solid rgba(0,74,3);
}

.saved-recipe-li:last-of-type {
  border-bottom: none;
}

.saved-recipe-li .left-side {
  width: 50%;
  text-align: center;
}

.saved-recipe-li .strong-side {
  width: 50%;
}

.strong-side .recipe-image {
  width: 200px;
  height: auto;
  margin: auto;
  padding: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.left-side .recipe-url-button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.left-side .recipe-name {
  font-size: 24px;
  color: rgba(0,74,3);
  font-weight: 900;
  padding: 15px;
}

.left-side .recipe-info {
  color: rgba(0,74,3);
}



.SavedRecipesList {
  height: calc(100vh - 254px);
  min-height: 466px;
  overflow: scroll;
  align-items: center;
}

.recipe-image img {
  border: 2px solid rgba(0,74,3);
}