.search-result > .recipe-pic {
  width: 50%;
  margin: auto;
  padding: 10px;
  margin-right: 10px; 
}

.search-result {
  display: flex; 
  align-content: space-between;
  max-width: 600px;
  background: rgba(80, 211, 122, 0.42);
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
  margin-bottom: 20px;
}

.search-result-title h4 {
  text-align: center;
  font-size: 18px;
}

.search-result-buttons {
  display: flex;
  flex-wrap: wrap;
}

.search-result-buttons div, a {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
}

#sr-save-recipe-btn {
  color: rgba(0,74,3);
  background: white;
  border: 1px solid rgba(0,74,3);
}

.search-result-buttons div button {
  color: white;
  background: rgba(0,74,3);
  border: 1px solid rgba(0,74,3);
}

.search-result-buttons a button {
  color: white;
  background: rgba(0,74,3);
  border: 1px solid rgba(0,74,3);
}


.search-result-buttons div > 
.search-result-info {
  width: 50%;
}

.search-result > .recipe-pic > img {
  width: 200px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid white;
}

.search-recipes-list {
  height: calc(100vh - 128px);
  overflow: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ingredient-modal {
  list-style: circle;
  margin-left: 10px;
}

.ingredient-modal > li {
  padding-bottom: 5px;
}

.health-modal {
  list-style: circle;
  margin-left: 10px;
}

.health-modal > li {
  padding-bottom: 5px;
}


.search-top {
  display: flex;
  flex-direction: column;
}

.search-top form {
  display: flex;
  width: 50%;
  margin: auto;
}

.search-top .Search-header {
  margin: auto;
  width: 50%;
  text-align: center;
}

.search-top .Search-header h1 {
  
}

#search-btn {
  background: rgba(0,74,3);
  color: white;
}