.search-result > .recipe-pic {
  width: 50%;
  margin: auto;
  padding: 10px;
  margin-right: 10px; 
}

.search-result {
  display: flex; 
  align-content: space-between;
  background: rgba(80, 211, 122, 0.42);
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
  margin-bottom: 20px;
}

.search-result-title h4 {
  text-align: center;
  font-size: 18px;
}

.search-result-buttons {
  display: flex;
  flex-wrap: wrap;
}

.search-result-buttons div, a {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
}

#sr-save-recipe-btn {
  color: rgba(0,74,3);
  background: white;
  border: 1px solid rgba(0,74,3);
}

.search-result-buttons div button {
  color: white;
  background: rgba(0,74,3);
  border: 1px solid rgba(0,74,3);
}

.search-result-buttons a button {
  color: white;
  background: rgba(0,74,3);
  border: 1px solid rgba(0,74,3);
}


.search-result-buttons div > 
.search-result-info {
  width: 50%;
}

.search-result > .recipe-pic > img {
  width: 200px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid white;
}

.search-recipes-list {
  height: 600px;
  overflow: scroll;
}

.ingredient-modal {
  list-style: circle;
  margin-left: 10px;
}

.ingredient-modal > li {
  padding-bottom: 5px;
}

.health-modal {
  list-style: circle;
  margin-left: 10px;
}

.health-modal > li {
  padding-bottom: 5px;
}


.search-top {
  display: flex;
  flex-direction: column;
}

.search-top form {
  display: flex;
  width: 50%;
  margin: auto;
}

.search-top .Search-header {
  margin: auto;
  width: 50%;
  text-align: center;
}

.search-top .Search-header h1 {

}

#search-btn {
  background: rgba(0,74,3);
  color: white;
}


.as-dropdown {
  position: relative;
  display: inline-block;
}

.as-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.as-dropdown:hover .as-dropdown-content {
  display: block;
}

.keyboard-inputs {
  width: 50%;
  margin: auto;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  min-width: 500px;
  border-bottom: 1px solid green;
}

.option-dropdowns {
  display: flex;
  width: 50%;
  margin: auto;
  min-width: 500px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid green;
}

.pop-up-dropdowns {
  width: 50%;
  margin: auto;
  display: flex;
  align-content: space-between;
  min-width: 500px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid green;
}

.minMaxSection {
  width: 50%;
  margin: auto;
  display: flex;
  align-content: space-between;
  min-width: 500px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid green;
}

.minMaxSection label {
  margin-right: 20px;
}

.excludeSection {
  width: 50%;
  margin: auto;
  min-width: 500px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.as-search-btn {
  margin: auto;
}

.dietSection {
  width: 50%;
  margin: auto;
}

.mealSection {
  width: 50%;
  margin: auto;
}

.dietSection > label {
  margin: auto;
}

.healthSection {
  width: 33%;
}

.cuisineSection {
  width: 33%;
}

.dishSection {
  width: 33%;
}

.Search-title-as {
  text-align: center;
  color: rgba(0,74,3);
}

.as-form {
  width: 50%;
  margin: auto;
}

.as-search-btn {
  color: white;
  background: rgba(0,74,3);
  border: 1px solid rgba(0,74,3);
}