.search-result > .recipe-pic {
  width: 50%;
  margin: auto;
  padding: 10px;
  margin-right: 10px; 
}

.search-result {
  display: flex; 
  align-content: space-between;
  max-width: 600px;
  background: rgba(80, 211, 122, 0.42);
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
  margin-bottom: 20px;
}

.search-result-title h4 {
  text-align: center;
  font-size: 18px;
}

.search-result-buttons {
  display: flex;
  flex-wrap: wrap;
}

.search-result-buttons div, a {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
}

#sr-save-recipe-btn {
  color: rgba(0,74,3);
  background: white;
  border: 1px solid rgba(0,74,3);
}

.search-result-buttons div button {
  color: white;
  background: rgba(0,74,3);
  border: 1px solid rgba(0,74,3);
}

.search-result-buttons a button {
  color: white;
  background: rgba(0,74,3);
  border: 1px solid rgba(0,74,3);
}


.search-result-buttons div > 
.search-result-info {
  width: 50%;
}

.search-result > .recipe-pic > img {
  width: 200px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid white;
}

.search-recipes-list {
  height: calc(100vh - 214px);
  min-height: 550px;
  overflow: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ingredient-modal {
  list-style: circle;
  margin-left: 10px;
}

.ingredient-modal > li {
  padding-bottom: 5px;
}

.health-modal {
  list-style: circle;
  margin-left: 10px;
}

.health-modal > li {
  padding-bottom: 5px;
}


.search-top {
  display: flex;
  flex-direction: column;
}

.search-top form {
  display: flex;
  width: 50%;
  margin: auto;
}

.search-top .Search-header {
  margin: auto;
  width: 50%;
  text-align: center;
}

.search-top .Search-header h1 {
  
}

#search-btn {
  background: rgba(0,74,3);
  color: white;
  margin: 0 auto;
  margin-bottom: 18px;
}


.as-dropdown {
  position: relative;
  display: inline-block;
}

.as-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.as-health-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}


.as-dropdown:hover .as-dropdown-content {
  display: block;
}

.as-dropdown:hover .as-health-dropdown-content {
  display: block;
}

.as-dropdown:active .as-health-dropdown-content {
  display: block;
}

.as-dropdown .as-health-dropdown-content label {
  display: flex;
  height: 20px;
}

.as-dropdown:hover .as-health-dropdown-content label > p {
  width: 80%;
  height: 100%;
  margin: auto;
  color: green;
}

.as-dropdown:hover .as-health-dropdown-content label > input {
  width: 10%;
  margin: auto;
  height: 100%;
}

.keyboard-inputs {
  width: 50%;
  margin: auto;
  display: flex;
  padding-bottom: 20px;
  /* margin-bottom: 10px; */
  min-width: 500px;
  border-bottom: 1px solid green;
}

.keyboard-inputs > div {
  width: 33%;
  text-align: center;
}

.keyboard-inputs p {
  color: green;
  margin: auto;
  padding-bottom: 5px;
}

.keyboard-inputs input {
  margin: auto;
}

.option-dropdowns {
  display: flex;
  width: 50%;
  margin: auto;
  min-width: 500px;
  padding: 20px;
  /* margin-bottom: 10px; */
  border-bottom: 1px solid green;
}

.pop-up-dropdowns {
  width: 50%;
  margin: auto;
  display: flex;
  align-content: space-between;
  min-width: 500px;
  padding: 20px;
  /* margin-bottom: 10px; */
  border-bottom: 1px solid green;
}

.minMaxSection {
  width: 50%;
  margin: auto;
  display: flex;
  align-content: space-between;
  min-width: 500px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid green;
}

.minMaxSection label {
  margin-right: 20px;
}

.excludeSection {
  width: 50%;
  margin: auto;
  min-width: 500px;
  padding: 20px;
  margin-bottom: 10px;
}

.as-search-btn {
  margin: auto;
}

.dietSection {
  width: 50%;
  margin: auto;
  text-align: center;
}

.mealSection {
  width: 50%;
  margin: auto;
  text-align: center;
}

.dietSection > label {
  margin: auto;
}

.healthSection {
  width: 33%;
}

.cuisineSection {
  width: 33%;
}

.dishSection {
  width: 33%;
}

.Search-title-as {
  text-align: center;
  color: rgba(0,74,3);
}

.as-form {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  /* font-size: 20px; */
}

.as-search-btn {
  color: white;
  background: rgba(0,74,3);
  border: 1px solid rgba(0,74,3);
}

.keyboard-inputs input {
  background: rgba(80, 211, 122, 0.42);
 
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 50px;
  padding-left: 10px;
  text-align: center;
}

.option-dropdowns select{
   background: rgba(80, 211, 122, 0.42);
 
  box-shadow: 0px 8px 24px rgba(13,13,18,0.50);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding-top: 5px;
}

.as-form label {
  color: rgba(0,74,3);
}

i {
  border: solid rgba(0,74,3);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dietSection {
  width: 50%;
  display: flex;
}

.dietSection label {
  margin: auto;
}

.mealSection {
  width: 50%;
  display: flex;
}

.mealSection label {
  margin: auto;
}

.keyboard-input-1 {
  width: 50%;
  display: flex;
}

.keyboard-input-1 label {
  margin: auto;
}

.healthSection {
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}

.cuisineSection {
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}

.dishSection { 
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}

.minMaxSection {
  display: flex;
}

.minMaxSection > .as-dropdown { 
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.excludeSection {
  padding-left: 45%;
  padding-right: auto;
}