.splash-container { 
  width: 100vw;
  height: 100vh;
  min-width: 850px;
  min-height: 600px;
  background: url(../../images/poster-fridge.jpeg);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}