.splash-container { 
  width: 100vw;
  height: 100vh;
  min-width: 850px;
  min-height: 600px;
  background: url(../../images/poster-fridge-with-text.jpg);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modal-control button:hover{
  border: 1px solid #f3ce08;
}
.modal-control button {
  color: #f3ce08;
  border: 1px solid rgba(110, 110, 110, 0.829);
}

