.splash-container { 
  width: 100vw;
  height: calc(100vh - 60px);
  background: url(../../images/poster-fridge.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}